
html, body {
    background-image:url("../images/glitter-4.jpg");
    background-size: 600px 600px;
    font-family: 'Josefin Sans', sans-serif;

}

#form {
    margin: auto;
    padding-top: 0;

}

#buttons {
    margin: auto;
        display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 15px;

     }
    
.subjectButtons {
    background-color: #AC5A63;
    border-color: #D498A2;
    border-width: 3px;
    color: #FDF6F7;

}

#submit {
    color: #FDF6F7;
    border-color: #FDF6F7;
    border-width: 2px;
    background-color: #D498A2;
}

#title {
    background-color: rgba(10, 0, 0, 0.3);
    text-align: center;
    margin-top: 2.5%;
    color: #FDF6F7;
    font-family: 'Shrikhand', cursive;

}

.jumbotron {
    margin-top: 5%;
    background-color: rgba(10, 0, 0, 0.6);

    /* background-image:url("../images/glitter-3.jpg");
    background-size: contain; */
    
}

#gifDisplay {
    display: grid;
grid-template-columns: 500px 500px;
grid-gap: 50px;
margin:auto;

}

.theGif {
    width: 500px;
    height: 375px;
    background-color: rgba(10, 0, 0, 0.6);
    padding: 15px;
    padding-bottom: 0px;
}

p {
    background-color: rgba(10, 0, 0, 0.6);
    padding: 15px;
    color: #FDF6F7; 
}

.form-control{
    background-color: #D498A2;
    border-color: #FDF6F7;
    border-width: 3px;
    color: #FDF6F7;
}

label {
    color: #FDF6F7;
}